default_language_version:
  python: python3.10

repos:
  - repo: local
    hooks:
    - id: check
      name: check
      entry: just check
      language: system
      types: [python]
      require_serial: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # v5.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-ast
    - id: check-json
    - id: check-toml
    - id: detect-private-key
