---
name: CI

permissions:
  contents: read

on:
  push:

jobs:
  check:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          install-uv: true
          cache: uv
      - name: Check formatting, linting and import sorting
        run: just check ${{ matrix.python-version }}

  test:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true
          install-uv: true
          cache: uv

      - name: Run tests
        run: just test ${{ matrix.python-version }}

  test-fastparser:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true
          install-uv: true
          cache: uv

      - name: Run tests
        run: just test-with-fastparser ${{ matrix.python-version }}

  test-package-build:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    runs-on: ubuntu-22.04

    name: Test we can build a Python package
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true
          install-uv: true
          cache: uv

      - name: Check the wheel installs and runs
        run: just package-test wheel ${{ matrix.python-version }}

      - name: Check the sdist installs and runs
        run: just package-test sdist ${{ matrix.python-version }}

  tag-new-version:
    needs: [check, test, test-fastparser, test-package-build]
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Tag new release
        run: |
          # ignore failures here to avoid merges into main without version
          # bumps failing this job.
          git tag "v$(cat version)" || exit 0
          git push --tags

  required-checks:
    if: always()

    needs:
    - check
    - test
    - test-fastparser

    runs-on: Ubuntu-latest

    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe  # v1.2.2
      with:
        jobs: ${{ toJSON(needs) }}
